<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<html>

<body>
	<h1>Truffle</h1>

	{{if not .LoggedIn}}
	<a
		href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id={{.ClientId}}&redirect_uri=http://localhost:8080/login&scope=user:read:chat">
		Login
	</a>
	{{else}}
	<button hx-post="/dashboard" hx-trigger="click" hx-target="#main-div">Dashboard</button>
	<button hx-post="/chat" hx-trigger="click" hx-target="#main-div">Chat</button>
	<button hx-post="/settings" hx-trigger="click" hx-target="#main-div">Settings</button>

	<div id="main-div">
	</div>
	{{end}}
</body>

</html>
<script>
	function storeFragmentInCookie() {
		var fragment = window.location.hash;

		if (fragment) {
			fragment = fragment.substring(1);

			var expiryDate = new Date();
			expiryDate.setTime(expiryDate.getTime() + (7 * 24 * 60 * 60 * 1000));
			var expires = "expires=" + expiryDate.toUTCString();
			document.cookie = "sessionid=" + fragment + ";" + expires + ";path=/;SameSite=Strict";

			window.location.href = "/"
		}
	}

	window.onload = storeFragmentInCookie;
</script>
