<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<html>

<body>
	<h1>Truffle</h1>

	{{if not .LoggedIn}}
	<!--TODO: implement login logic-->
	<!--https://docs.github.com/en/apps/creating-github-apps/writing-code-for-a-github-app/building-a-login-with-github-button-with-a-github-app -->
	<a href="https://github.com/login/oauth/authorize?client_id={{.ClientId}}">
		Login
	</a>
	{{else}}
	<hr>
	<!--TODO: build a special type of handler that requires authentication!-->
	<button hx-post="/dashboard" hx-trigger="click" hx-target="#main-div">Dashboard</button>
	<button hx-post="/settings" hx-trigger="click" hx-target="#main-div">Settings</button>

	<div id="main-div">
	</div>
	{{end}}
</body>

</html>
